{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}
    <form action="/" method="get">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Stock</th>
                    <th>Number of stocks</th>
                    <th>Price of stock</th>
                    <th>Total price of stocks</th>
                </tr>

            </thead>
            <tbody class="table-bordered border-primary">
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock["share"] }}</td>
                        <td>{{ stock["number_shares"] }}</td>
                        <td>{{ stock["price"] }}</td>
                        <td>{{ stock["total"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Cash</th>
                    <th>Total cash</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cash }}</td>
                    <td>{{ total }}</td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}
